[Desktop Entry]
Name=ro-Control
Comment=Smart GPU Driver Manager for Linux
Exec=ro-control
Icon=ro-control
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=nvidia;amd;driver;gpu;
StartupNotify=true
