# Rust / Cargo
/target/
**/*.rs.bk
*.pdb

# Build
/build/
/build-dir/
*.rpm
*.deb
*.tar.gz
*.flatpak

# IDE
.vscode/
.idea/
.history/
*.swp
*.swo
*~
.direnv/

# macOS
.DS_Store

# Logs
*.log

# Generated
.flatpak-builder/
.repo/
