/* Dark Theme Definition */
@define-color window_bg_color #1c1c1e;
@define-color window_fg_color #f5f5f7;
@define-color view_bg_color #1c1c1e;
@define-color view_fg_color #f5f5f7;
@define-color headerbar_bg_color #1c1c1e;
@define-color headerbar_fg_color #f5f5f7;
@define-color headerbar_border_color alpha(#ffffff, 0.08);

@define-color accent_color #0a84ff;
@define-color accent_bg_color #0a84ff;
@define-color accent_fg_color #ffffff;

@define-color destructive_color #ff453a;
@define-color destructive_bg_color #ff453a;
@define-color destructive_fg_color #ffffff;

@define-color card_bg_color rgba(44, 44, 46, 0.7);
@define-color card_fg_color #f5f5f7;
@define-color popover_bg_color rgba(44, 44, 46, 0.9);

@define-color border_color rgba(255, 255, 255, 0.1);
